.inline-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.class {
  width: 23%;
  padding: 0%;
}
nav {
  width: 100%;
  height: auto;
  padding: 0%;
}
body {
    margin: 0;
}
p {
  font-size: 1.5vw;
}
p span {
  font-weight: bold;
  font-size: 2vw;
}
header {
  background-color: #2D1634;
  padding: 20px;
}
header ul {
  float: right;
  color: white;
  font: roboto condensed;
  font-size: 1vw;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header li a {
  text-decoration: none;
  color: white;
}
header p {
  display: inline-block;
}
.logo {
  text-align: center;
  width: 23%;
}
.logo img {
  height: auto;
  width: 20%;
  float: left;
} 
.heroImg {
  padding: 0px 0px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-background {
  width: 100%; 
  height: 100%; 
  min-width: 100%; 
  min-height: 100%;
  align-content: center;
  justify-content: center;
}
.hero-text {
  font-family: 'Bungee Shade', cursive;
  font-size: 3vw;
  text-align: right;
  position: absolute;
  top: 15%;
  left: 60%;
  padding: 30px;
  color: black;
}
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

.button-container {
  width: 15vw;
  height: 4vw;
  position: relative;
  left: 55%
}

.button {
  background: #2B2D2F;
  height: 80px;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.button-text {
  font: bold 1.25rem/1 poppins;
  color: #71DFBE;
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  left: 0;
  right: 0;
}

.progress-bar {
  position: absolute;
  height: 10px;
  width: 0;
  right: 0;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: lighten(#2B2D2F, 15%);
}

svg {
  position: absolute;
  width: 30px;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
}

.check {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.flex-grid {
  display: flex;
}

.flex-grid .col-3 {
  flex: 1; 
  justify-content: space-between;
  width: 32%;
}

.three-column-container {
  box-sizing: border-box;
  display: grid;
  grid-gap: 7px;
  clear: both;
  padding: 30px;
  font-size: 1.6em;
  width: 100%;
  }

.col {
  background-color: rgba(173,167,133,0.5);
  padding: 10px;
  border: 1px solid black;
  width: auto;
  }
    
#col-1 {
  grid-column: 2/4;
  width: 32%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 10px;
  }
    
#helpinghand {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }

#col-2 {
  grid-column: 6/8;
  width: 32%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 10px;
  }

#placeholder {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }

#col-3 {
  grid-column: 10/12;
  width: 32%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 10px;
  }

#lovebugs {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }

/**
@media (min-width: 768px) {
  flex-grid .col-3 {
    display: block;
    height: auto;
    width: auto;
    margin: 0 0 10px 0;
      }
    }

* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  background: purple;
  padding: 20px;
}*/

footer {
  background-color: #2D1634;
  padding: 5px 5px;
  color: white;
  text-align: center;
}
footer ul {
  list-style: none; 
  padding-left: 5px;
}
footer ul button {
  margin: 0 2%;
}
footer ul li {
  display: inline;
  padding: 0px 7px;
  font-size: 1vw;
  margin: 0.5% 2.5%;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
.circle {
  height: 75px;
  width: 75px;
  border: 3.5px solid white;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  vertical-align: center;
  display: inline-block;
}

.circle a {
  color: white;
  font-size: 1vw;
  text-decoration: none;
}
  